
/*---------------------------------- stylings for every breakpoint -------------------------------*/

.article{
    display: grid;
    justify-items: center;
    grid-row-gap: 2em;

    .news-img{
        width: 100%;
    }
}


