
/*---------------------------------- stylings for every breakpoint -------------------------------*/
.cult-img-row{
    display: flex;
    margin-bottom: 2em;
    
    img{
        max-width: 50%;
    }
}

