/*---------------------------------- stylings for every breakpoint -------------------------------*/
#header {
  background-color: #5B1B1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4em;
}

#header #banner1 {
  max-width: 60%;
}

#header #logo-newspaper {
  max-height: 3em;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 3em;
  max-width: 100%;
  background-color: #0E0D0D;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #F6F5F5;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

#date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

h3 {
  background-color: #C4C4C4;
  font-weight: normal;
  padding: 1em;
  margin-top: 3em;
}

#banner-3 {
  margin-top: 4em;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.main .center-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0 3em 0;
}

a {
  text-decoration: none;
  color: black;
}

#footer {
  margin-top: 5em;
  padding: 2em 0 0 0;
  background-color: #0E0D0D;
}

#footer img {
  max-height: 3em;
}

#footer #footer-link {
  list-style-type: none;
  padding: 0 0 1em 0;
}

#footer #footer-link li {
  float: left;
}

#footer #footer-link li a {
  display: block;
  color: #F6F5F5;
  text-align: center;
  padding: 14px 16px;
}

/* for the other html files */
.text {
  text-align: justify;
}

/*---------------------------------Smartphone-----------------------------------*/
@media screen and (max-width: 480px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3em;
  }
  #header #banner1 {
    display: none;
  }
  #navbar {
    padding: 0;
  }
  #navbar li {
    width: 20%;
    /* for centering */
  }
  .caption {
    text-align: center;
    background-color: #0E0D0D;
    color: #F6F5F5;
    margin: 0;
    padding: 3em 2em 3em 2em;
  }
  #date {
    display: none;
  }
  .main {
    width: 100%;
  }
  .main h3 {
    text-align: center;
  }
  .main img {
    max-width: 100%;
    margin-top: 2em;
  }
  .main .img-row {
    display: -ms-grid;
    display: grid;
    /* I tried justify-content/justify-items, but it didn't work, same with align property*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main #banner-3 {
    display: none;
  }
  #footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer-flex img {
    width: 60%;
  }
  #footer-flex ul li {
    width: 20%;
  }
}

/*---------------------------------Tablet-----------------------------------*/
@media screen and (min-width: 481px) and (max-width: 1200px) {
  #header {
    padding: 4em 0 4em 1em;
  }
  #date {
    margin-right: 2em;
  }
  .main {
    width: 90%;
  }
  .main h3 {
    margin-top: 1em;
  }
  .main .img-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 2em;
  }
  .main .img-row .mid-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* If I flex the items in the grid and then the align-items property works. But the justify/align probertys
                                should also work for grid items, shouldn't it? */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main .img-row img {
    max-width: 90%;
  }
  .main .img-row .no-gap {
    margin-bottom: -4pt;
  }
  .main .img-row .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0E0D0D;
    color: #F6F5F5;
    width: 80%;
    padding: 5%;
    margin: 0;
  }
  .img-row-medium {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 2em;
  }
  .img-row-medium #move-down {
    margin-top: 2pt;
  }
  .img-row-medium #snowden {
    margin-top: 6%;
  }
  #footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer-flex img {
    width: 60%;
    max-width: 30%;
  }
  .caption {
    color: #F6F5F5;
    text-align: center;
    padding-bottom: 3em;
  }
}

/*---------------------------------Laptop-----------------------------------*/
@media screen and (min-width: 1201px) {
  #date {
    margin: 2em 5em 0 0;
  }
  .main {
    width: 60%;
  }
  .main .img-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .main .img-row .first-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .img-row .mid-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .img-row .last-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main .img-row img {
    max-width: 90%;
  }
  .main .img-row .no-gap {
    margin-bottom: -4pt;
  }
  .main .img-row .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0E0D0D;
    color: #F6F5F5;
    width: 80%;
    min-height: 22%;
    padding: 5%;
    margin: 0;
  }
  .main .img-row #musk {
    min-height: 76%;
  }
  .main .img-row-medium {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 2em;
  }
  .main .img-row-medium #move-down {
    margin-top: 2pt;
  }
  .main .img-row-medium #snowden {
    max-width: 94%;
    min-height: 78%;
  }
  .main .img-row-medium #snowden-caption {
    width: 84%;
  }
  #footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 4em 0 4em;
  }
  .caption {
    color: #F6F5F5;
    text-align: center;
    padding-bottom: 3em;
  }
}
/*# sourceMappingURL=main.css.map */