$head-color: #5B1B1B;
$menu-color: #0E0D0D;
$white-font-color: #F6F5F5;
$grey-header-color: #C4C4C4;

/*---------------------------------- stylings for every breakpoint -------------------------------*/
#header{
    background-color: $head-color;
    display: flex;
    justify-content: space-between;
    padding: 4em;

    #banner1{
        max-width: 60%;
    }

    #logo-newspaper{
        max-height: 3em;
    }
}

#navbar{
    
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 3em;
    max-width: 100%;
    background-color: $menu-color;

    li{
        float: left;

        a{
            display: block;
            color: $white-font-color;
            text-align: center;
            text-decoration: none;
            padding: 14px 16px;
        }
    }
}

#date{
    display: flex;
    justify-content: flex-end;
}

h3{
    background-color: $grey-header-color;
    font-weight: normal;
    padding: 1em;
    margin-top: 3em;
}

#banner-3{
    margin-top: 4em;
}


.main{
    margin-left: auto;
    margin-right: auto;

    .center-img{
        display:flex;
        justify-content: center;
        margin: 2em 0 3em 0;
    }

    .caption{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $menu-color;
        color: $white-font-color;
    }
}

a{
    text-decoration: none;
    color: black;
}

#footer{
    margin-top: 5em;
    padding: 2em 0 0 0;
    background-color: $menu-color;

    img{
        max-height: 3em;
    }

    #footer-link{
        list-style-type: none;
        padding: 0 0 1em 0;

        li{
            float: left;
            
            a{
            display: block;
            color: $white-font-color;
            text-align: center;
            padding: 14px 16px;
            }
        }
    }
}
 /* for the other html files */
.text{
    text-align: justify;
}

/*---------------------------------Smartphone-----------------------------------*/

@media screen and (max-width: 480px){

    #header{ display: flex;
            justify-content: center;
            padding: 3em;

            #banner1{
                display: none;
            }
        }

    #navbar{

        padding: 0;
        li{
            width: 20%; /* for centering */
        }
    }

    .caption{
        margin: 0;
        padding: 1em;
        height: 3em;
    }

    #date{
        display: none;
    }

    .main{
        width: 100%;

        h3{
            text-align: center;
        }
        
        img{
            max-width: 100%;
            margin-top: 2em;
            margin-bottom: -1em;
        }
    
        .img-row{
            display: grid; /* I tried justify-content/justify-items, but it didn't work, same with align property*/
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        #banner-3{
            display: none;
        }

    }

    #footer-flex{

        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 60%;
        }

        ul{
            li{
                width: 20%;
            }
        }
    }
    
}

/*---------------------------------Tablet-----------------------------------*/
@media screen and (min-width:481px) and (max-width: 1200px){

    #header{
            padding: 4em 0 4em 1em;
    }

    #date{
        margin-right: 2em;
    }    
    
    .main{
        width: 90%;

        h3{
            margin-top: 1em;
        }

        .img-row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 2em;
            
            .mid-col{
                display: flex;  /* If I flex the items in the grid and then the align-items property works. But the justify/align probertys
                                should also work for grid items, shouldn't it? */
                flex-direction: column;
                align-items: flex-end;
            }


            img{
                max-width: 90%;
            }

            .no-gap{
                margin-bottom: -4pt;
            }

            .caption{
                width: 80%;
                height: 3em;
                padding: 5%;
                margin: 0;
            }
        }
    }

    .img-row-medium{
        display: grid;
        grid-row-gap: 2em;

        #move-down{
            margin-top: 2pt;
        }

        #snowden{
            margin-top: 6%;
        }
    }

    #footer-flex{

        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 60%;
            max-width: 30%;
        }
    }

    .caption{
        color: $white-font-color;
        text-align: center;
        padding-bottom: 3em;
    }
}


/*---------------------------------Laptop-----------------------------------*/
@media screen and (min-width: 1201px){

#date{
    margin: 2em 5em 0 0;
}

    .main{
        width: 60%;

        .img-row{
            display: flex;
            // justify-content: space-between; ------> This does not work; also tried: justify-items, justify-self and align property, also with grid instead of flex
            margin-top: 2em;
            margin-bottom: 3em;

            .first-col{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .mid-col{
                display: flex;
                flex-direction: column;
                align-items: center;
            }            

            .last-col{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            img{
                max-width: 90%;
            }

            .no-gap{
                margin-bottom: -4pt;
            }

            .caption{
                width: 80%;
                height: 5em;
                padding: 5%;
                margin:0;
            }

            #musk{
                height: 12em;
                width: -moz-max-content;
                width: -webkit-min-content;
            }

        }


    .img-row-medium{
        display: grid;
        grid-row-gap: 2em;

        #move-down{
            margin-top: 2pt;
        }

        #snowden{
            width: -moz-max-content;
            width: -webkit-min-content;
            min-height: 17em;
        }
    }
    }

    #footer-flex{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 4em 0 4em;
    }

    .caption{
        color: $white-font-color;
        text-align: center;
        padding-bottom: 3em;
    }
}
