/*---------------------------------- stylings for every breakpoint -------------------------------*/
#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #0E0D0D;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #F6F5F5;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

h3 {
  background-color: #C4C4C4;
  font-weight: normal;
  padding: 1em;
  margin-top: 3em;
}

#date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 2em 5em 0 0;
}

.main img {
  margin-bottom: -1em;
  /*otherwise there is a gap between img and text */
}

.main #banner-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0 3em 0;
}

#footer {
  margin-top: 5em;
  padding: 2em 0 0 0;
  background-color: #0E0D0D;
}

#footer #footer-link {
  list-style-type: none;
  padding: 0 0 1em 0;
}

#footer #footer-link li {
  float: left;
}

#footer #footer-link li a {
  display: block;
  color: #F6F5F5;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

/*---------------------------------Smartphone-----------------------------------*/
@media screen and (max-width: 480px) {
  #header #logo-newspaper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #header #banner1 {
    display: none;
  }
  #navbar li {
    width: 20%;
    /* for centering */
  }
  .caption {
    text-align: center;
    background-color: #0E0D0D;
    color: #F6F5F5;
    margin: 0;
    padding: 3em 2em 3em 2em;
  }
  .main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main #date {
    display: none;
  }
  .main h3 {
    text-align: center;
  }
  .main img {
    max-width: 100%;
    margin-top: 2em;
  }
  .main .img-row {
    display: -ms-grid;
    display: grid;
    /* I tried justify-content, but it didn't work, also tried with flex */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main #banner-3 {
    display: none;
  }
  #footer img {
    display: -ms-grid;
    display: grid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*---------------------------------Laptop-----------------------------------*/
@media screen and (min-width: 1260px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #5B1B1B;
    padding: 4em;
  }
  #navbar {
    padding-left: 3em;
  }
  .main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .main .img-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
  }
  .main .img-row .mid-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .img-row .last-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main .img-row img {
    max-width: 80%;
  }
  .main .img-row .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #0E0D0D;
    color: #F6F5F5;
    width: 80%;
    padding: 2em 0 2em 0;
    margin: 0;
  }
  .main .img-row #musk {
    height: 100%;
  }
  .main .img-row #snowden {
    height: 100%;
    max-width: 80%;
  }
  #footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 4em 0 4em;
  }
  .caption {
    color: #F6F5F5;
    text-align: center;
    padding-bottom: 3em;
  }
}
/*# sourceMappingURL=main.css.map */