
/*---------------------------------- stylings for every breakpoint -------------------------------*/
#tech-big{
    max-width: 100%;
    margin-bottom: 2em;
}

.tech-img-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    
    img{
        max-width: 30%;
    }
}


