$head-color: #5B1B1B;
$menu-color: #0E0D0D;
$white-font-color: #F6F5F5;
$grey-header-color: #C4C4C4;

/*---------------------------------- stylings for every breakpoint -------------------------------*/
#tech-big{
    max-width: 100%;
    margin-bottom: 2em;
}

.tech-img-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    img{
        max-width: 30%;
    }
}

/*---------------------------------Smartphone-----------------------------------*/


/*---------------------------------Laptop-----------------------------------*/
